%
%% Compilation.

{minimum_otp_vsn, "25"}.

{erl_opts, [
    debug_info,
    report,
    verbose,
    warn_missing_spec_all,
    warnings_as_errors
]}.

{project_plugins, [
    {erlfmt, "1.2.0"},
    {rebar3_ex_doc, "0.2.18"},
    {rebar3_hank, "1.4.0"},
    {rebar3_hex, "7.0.7"},
    {rebar3_lint, "3.0.1"}
]}.

{deps, [
    {tls_certificate_check, "1.19.0"}
]}.

%
%% Development.

{alias, [
    {ci, [
        fmt,
        hank,
        lint,
        xref,
        dialyzer,
        ct,
        cover,
        ex_doc
    ]}
]}.

{shell, [
    {apps, [
        rebar3_checkshell
    ]}
]}.

{erlfmt, [
    write,
    {files, [
        "elvis.config",
        "rebar.config",
        "src/*.app.src",
        "src/**/*.erl",
        "test/**/*.erl"
    ]}
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {erl_opts, [
            debug_info,
            report,
            verbose,
            nowarn_export_all,
            nowarn_missing_spec_all,
            warnings_as_errors
        ]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {plugins, [
            {rebar3_checkshell,
                {git, "https://github.com/paulo-ferraz-oliveira/rebar3_checkshell",
                    {branch, "test"}}}
        ]}
    ]}
]}.

%
%% Static analysis.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns,
        no_unknown
    ]}
]}.

{xref_checks, [
    deprecated_function_calls,
    exports_not_used,
    locals_not_used
]}.

{xref_extra_paths, ["test"]}.

%
%% Publishing.

{ex_doc, [
    {extras, [
        "CHANGELOG.md",
        "CODE_OF_CONDUCT.md",
        "CONTRIBUTING.md",
        "LICENSE",
        "README.md",
        "SECURITY.md"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/paulo-ferraz-oliveira/rebar3_checkshell"}
]}.

{hex, [{doc, ex_doc}]}.
