%% == Erlang Compiler ==

{minimum_otp_vsn, "19.3"}.

{erl_opts, [
    warnings_as_errors,
    debug_info,
    warn_missing_spec_all,
    warn_export_vars,
    warn_unused_import
]}.

%% == Dependencies and plugins ==

{deps, []}.

{project_plugins, [
    {rebar3_lint, "0.2.0"}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

%% == xref ==

{xref_checks, [
    exports_not_used,
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

%% == Profiles and aliases ==

{profiles, [
    {'test', [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {erl_opts, [
            warnings_as_errors,
            debug_info,
            nowarn_missing_spec_all,
            nowarn_missing_spec,
            nowarn_export_all,
            warn_export_vars,
            warn_unused_import
        ]},
        {deps, [
            {proper, "1.3.0"},
            {recon, "2.5.1"}
        ]},
        {ct_opts, [
            {sys_config, "test/config/sys.config"}
        ]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {xref_extra_paths, ["test"]},
        {proper_opts, [
            {sys_config, "test/config/sys.config"}
        ]},
        {shell, [
            {apps, [recon, rebar3_checkshell]},
            {config, "test/config/sys.config"}
        ]}
    ]}
]}.

{alias, [
    {check, [xref, dialyzer, rebar3_lint]},
    {test, [eunit, ct, proper, cover]}
]}.

%% == edoc ==

{edoc_opts, [
    {preprocess, true},
    {includes, ["src"]}
]}.
